
/*Content under nav menu-beginning*/
.images-row { 
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.first-image-transparent{
	background-color: #303030;
	background-position: center center;
	background-repeat: no-repeat;
	width: 50%;
	height: 400px;
	background-size: cover;
	align-items: center;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}
.first-transparent{
	background-image: url('Dejan_NovModul::images/layer-1.png');
	width: 400px;
	height: 218px;
}
.first-image-transparent:hover{
	background-color: black;
}
.second-image-transparent{
	background-color: #1C1C1C;
	background-position: center center;
	background-repeat: no-repeat;
	width: 50%;
	height: 400px;
	background-size: cover;
	align-items: flex-end;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}
.second-transparent{
	background-image: url('Dejan_NovModul::images/layer-2.png');
	width: 354px;
	height: 325px;
	margin-right: 5%;
}
.second-image-transparent:hover{
	background-color: black;
}
.third-image-transparent{
	background-color: #1C1C1C;
	background-position: center center;
	background-repeat: no-repeat;
	width: 50%;
	height: 400px;
	background-size: cover;
	align-items: flex-end;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}
.third-transparent{
	background-image: url('Dejan_NovModul::images/layer-3.png');
	width: 390px;
	height: 312px;
	margin-right: 7%;
	margin-bottom: 7%;
}
.third-image-transparent:hover{
	background-color: black;
}
.forth-image-transparent{
	background-color: #303030;
	background-position: center center;
	background-repeat: no-repeat;
	width: 50%;
	height: 400px;
	background-size: cover;
	align-items: flex-end;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}
.forth-transparent{
	background-image: url('Dejan_NovModul::images/layer-4.png');
	width: 288px;
	height: 349px;
	margin-right: 9%;
}
.forth-image-transparent:hover{
	background-color: black;
}

.white-text{
	color: white;
	font-size: 30px;
}
.gray-text{
	color: gray;
	font-size: 18px;
}
.text-pos{
	align-self: center;
	text-align: left;
	margin-left: 5%;
}
/*Content under nav menu-ending*/


/*Before footer and footer links-beginning*/
.before-footer-links-main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.before-footer-links{
	background-image: url('Dejan_NovModul::images/above-footer.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	width: 100%;
	height: 500px;
	background-size: cover;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
}
.bfl-first-div{
	display: flex;
	width: 49%;
	height: 100%;
	text-align: center;
	align-items: center;
}
.bfl-second-div{
	display: flex;
	width: 49%;
	height: 100%;
	text-align: center;
	align-items: center;
}
.bfl-vertical-line{
	height: 32%;
	width: 1.5px;
	background-color: white;
	margin-top: 50px;
}
.bfl-text-white{
	display: block;
	color: white;
}
.bfl-text-area-margin{
	margin-top:145px;
	margin-bottom: 0px;
	font-size: 85px;
}

.bfl-button {
  background-color: #9C1C28;
  border: none;
  color: white;
  padding: 5px 46px;
  text-decoration: none;
  display: block;
  font-size: 18px;
  cursor: pointer;
  border-radius:20px;
  margin: auto;
  margin-top: 20px;
}
.bfl-second-p{
	font-size: 41px;
	margin-top: -30px;
}
.bfl-third-p{
	font-size: 15px;
}
/*Before footer and footer link-ending*/
