/*Header-beginning*/
.inside-header {
	margin-left: 0px;
	margin-right: 0px;
	background-color: #212121;
}
.item-margin-left-right {
	margin-left: 1px;
	margin-right: 1px;
}
.item-contact-inf-mr {
	margin-right: 5px;
}
.fa-margin-right {
	margin-right: 3px;
}
.displ-blok {
	display: block;
}
.paragraph-margin-top {
	margin-top: 2px;
}
/*Header-ending*/

/*Content under nav menu-beginning*/
.white-text{
	color: white;
	margin-top: 20%;
	margin-bottom: 3%;
	margin-left: 5%;
	font-size: 18px;
}
.gray-text{
	color: gray;
	margin-top: 2%;
	margin-bottom: 22%;
	margin-left: 5%;
	font-size: 15px;
}
/*Content under nav menu-ending*/


/*Products-beginning*/
.featured-color-white{
	width: 30%;
	display: block;
	color: white;
	margin: auto;
	margin-top: 3%;
	margin-bottom: 10px;
	text-align: center;
	font-size: 20px;
}
.product-text-red{
	font-size: 16px;
	color: red;
	margin-top: 100%;
	margin-bottom: 3%;
	text-align: center;
}
.product-text-white{
	font-size: 21px;
	color: white;
	margin-top: 2%;
	text-align: center;
	display: block;
}
/*Product-ending*/

/*Before footer and footer links-beginning*/
.bfl-text-area-margin{
	margin-top:170px;
	margin-bottom: 0px;
	font-size: 50px;
}
.bfl-second-p{
	font-size: 31px;
	margin-top: 0px;
}
.bfl-third-p{
	font-size: 14px;
}
.bfl-button {
  background-color: #9C1C28;
  border: none;
  color: white;
  padding: 3px 30px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  cursor: pointer;
  border-radius:20px;
  margin: auto;
  margin-top: 20px;
}
/*Before footer and footer link-ending*/

/*Footer end-beginning*/
.footer-end-item-left{
	width: 40%;
	margin: 0px;
}
.footer-end-item-right{
	width: 50%;
	margin: 0px;
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
}
/*Footer end-ending*/


