/*Header-beginning*/
.header-rows-responsive {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	flex-direction: row-reverse;
	justify-content: center;
}
.item-flex-growing{
	flex-grow: none;
}
/*header-ending*/

/*Content under nav menu-beginning*/
.first-image-transparent{
	background-color: #303030;
	width: 50%;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.first-transparent{
	background-image: url('Dejan_NovModul::images/layer-1-resized.png');
	width: 138px;
	height: 75px;
}
.first-image-transparent:hover{
	background-color: black;
}
.second-image-transparent{
	background-color: #1C1C1C;
	width: 50%;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.second-transparent{
	background-image: url('Dejan_NovModul::images/layer-2-resized.png');
	width: 131px;
	height: 120px;
	margin-right: 10%;
}
.second-image-transparent:hover{
	background-color: black;
}
.third-image-transparent{
	background-color: #1C1C1C;
	width: 50%;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.third-transparent{
	background-image: url('Dejan_NovModul::images/layer-3-resized.png');
	width: 131px;
	height: 105px;
	margin-right: 7%;
	margin-bottom: 7%;
}
.third-image-transparent:hover{
	background-color: black;
}
.forth-image-transparent{
	background-color: #303030;
	width: 50%;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.forth-transparent{
	background-image: url('Dejan_NovModul::images/layer-4-resized.png');
	width: 132px;
	height: 160px;
	margin-right: 9%;
}
.forth-image-transparent:hover{
	background-color: black;
}

.white-text{
	font-size: 5px;
	color: white;
}
.gray-text{
	font-size: 5px;
	color: gray;
}
/*Content under nav menu-ending*/

/*content-beginning*/
.featured-color-white{
	width: 30%;
	display: block;
	color: white;
	margin: auto;
	margin-top: 3%;
	margin-bottom: 10px;
	text-align: center;
	font-size: 16px;
}
.bfl-text-area-margin{
	margin-top:70%;
}
/*content-ending*/


/*Before footer and footer links-beginning*/
.bfl-text-area-margin{
	margin-top:70px;
	margin-bottom: 0px;
	font-size: 12px;
}

.bfl-second-p{
	font-size: 12px;
	margin-top: 0px;
}
.bfl-third-p{
	font-size: 12px;
}
.bfl-text-area-margin{
	margin-top:70px;
	margin-bottom: 0px;
	font-size: 20px;
}
.bfl-second-p{
	font-size: 15px;
	margin-top: 0px;
}
.bfl-third-p{
	font-size: 11px;
}

.bfl-second-div{
	display: none;
}
.bfl-vertical-line{
	display: none;
}
.bfl-first-div{
	width: 100%;
}
/*Before footer and footer link-ending*/

/*Quick-links-beginning*/
.quick-links-news{
	display: block;
	width: 57%;
	text-align: center;
	align-self: flex-start;
	margin-right: 20%;
	margin-left: 20%;
	background-color: black;
	margin-top: 3%;
}
.quick-links-item {
	width: 20%;
	text-align: center;
	background-color: black;
	margin-left: 5%;
	margin-right: 5%;
}
.quick-links-horisontal-line {
	text-align: center;
	width: 40%;
	height: 5px;
	background-color: #9C1D28;
	margin-bottom: 15px;
	margin-top: 5px;
	margin-left: 30%;
	margin-right: 30%;
}
.quick-links-row {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	color: #FF3448;
	margin-left: 10%;
	margin-right: 10%;
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: black;
	align-items: center;
}
.news-button {
  background-color: #9C1C28;
  border: none;
  color: white;
  padding: 3px 35px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 20px;
  /*margin: 4px 2px;*/
  cursor: pointer;
  border-radius:20px;
  margin: auto;
  margin-top: 20px;
}
/*Quick-links-ending*/

/*Footer-beginning*/
.footer-main{
	width: 100%;
	height: auto;
	background-color: black;
	margin: 0px;
}
.footer-row {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	margin-left: 10%;
	margin-right: 10%;
	background-color: black;
	align-items: center;
	padding-top: 5%;
}
.footer-row {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 10%;
	margin-right: 10%;
	background-color: black;
	align-items: center;
	padding-top: 5%;
}
.footer-item{
	width: 78%;
	text-align: center;
	margin-left: 0px;
	background-color: yellow;
	margin: auto;
}
.footer-small-horisontal-line {
	width: 30%;
	height: 5px;
	background-color: #9C1D28;
	margin-bottom: 30px;
	margin-left: 35%;
	margin-right: 35%;
}

.footer-information{
	width: 78%;
	text-align: center;
	margin-left: 0%;
	align-self: none;
	background-color: pink;
	margin-left: 10%;
	margin-right: 10%;
}
/*Footer-ending*/

/*Footer end-beginning*/
.footer-end-row{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 2%;
	margin-right: 2%;
	background-color: black;
	align-items: center;
	margin-left: 5px;
	margin-right: 5px;
	padding-bottom: 5%;
}
.footer-end-item{
	width: 80%;
	margin: 0px;
}
.footer-end-align-right{
	text-align: center;
}
.footer-end-align-left{
	text-align: center;
}
/*Footer end-ending*/

